#body{
    margin: auto; padding: auto;
    overflow-x: hidden;
}

#container{
    margin-right: inherit; margin-left: inherit;
    padding-right: inherit; padding-left: inherit;
}

#container-fluid{
    margin-right: inherit; margin-left: inherit;
    padding-right: inherit; padding-left: inherit;
}

#navs{
    background-color:#343a40; padding-left: 200px;
}

.aNav{
    margin: 5px;
    padding-left: 5px; padding-right: 5px;
}

#frmTextArea{padding-top: 6px; padding-bottom: 6px;}

#pText{margin-top: 2px; margin-bottom: 2px; font-size: 40px;}

#jumbo{
    width: 500px; height: 410px;
    min-width: 100%;
    max-height: 20%;
}

#imgholder{padding-top: 20px; padding-bottom: 20px;}

#signin{color:#ffffff; 
    
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;

}

#signin input{background: none; border: 1px solid #b3b3b3}

#textfloat{position: absolute;
    top: 200px;
    left: 550px; z-index: 10; color: #b3b3b3; text-align: center;
}

#welcome{
    font-size: 40px;
}
#decagon{
    font-size: 100px; color: #0066cc;
}
#zoo{font-size: 100px; color: #0066cc}

#footer{position:absolute; top: 720px; z-index: 8; color: #b3b3b3; width: 100%;
    border-top: #b3b3b3 1px dotted; text-align: center; padding-top: 20px;
}

#socialMedia{font-size: 2rem;list-style:none;}

#socialMedia li{ display: inline; padding-left: 30px;}
